<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onecare">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission-sdk-23 android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OneCare"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".navigation.NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.OneCare.NoActionBar"></activity>
        <activity android:name=".ui.questionnaire.Questionnaire" />
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.InitAuthSDKActivity"
            android:label="APP"
            android:configChanges="screenSize|orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/ZMTheme.MainWindow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.APIUserStartJoinMeetingActivity"
            android:label="APP2"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/ZMTheme.MainWindow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.LoginUserStartJoinMeetingActivity"
            android:label="APP3"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/ZMTheme.MainWindow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.EmailUserLoginActivity"
            android:label="APP4"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/ZMTheme.MainWindow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.SSOUserLoginActivity"
            android:label="APP5"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/ZMTheme.MainWindow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".otherfeatures.scheduleforloginuser.PreMeetingExampleActivity"
            android:label="APP6"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/ZMTheme.MainWindow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".otherfeatures.scheduleforloginuser.ScheduleMeetingExampleActivity"
            android:label="APP7"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/ZMTheme.MainWindow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".otherfeatures.MyInviteActivity"
            android:label="@string/invite_acitivity_name"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/ZMTheme.MainWindow" >
            <intent-filter>
                <action android:name="us.zoom.sdkexample.intent.action.MeetingInvite" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".otherfeatures.MyWaitJoinActivity"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/ZMTheme.MainWindow" >
            <!--            <intent-filter>
                            <action android:name="us.zoom.sdkexample.intent.action.JoinBeforeHost" />
                            <category android:name="android.intent.category.DEFAULT" />
                        </intent-filter>-->
        </activity>

        <activity android:name=".otherfeatures.MyCallMeByPhoneActivity"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/ZMTheme.MainWindow" >
            <!--            <intent-filter>
                            <action android:name="us.zoom.sdkexample.intent.action.CallMyPhone" />
                            <category android:name="android.intent.category.DEFAULT" />
                        </intent-filter>-->
        </activity>

        <activity
            android:name=".inmeetingfunction.customizedmeetingui.MyMeetingActivity"
            android:configChanges="screenSize"
            android:theme="@style/ZMTheme.SubWindow"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.MeetingSettingActivity"
            android:configChanges="screenSize"
            android:theme="@style/ZMTheme.SubWindow"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".inmeetingfunction.customizedmeetingui.RawDataMeetingActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|keyboard"
            android:theme="@style/ZMTheme.SubWindow"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.QAActivity" />
        <activity android:name=".ui.BreakoutRoomsAdminActivity"
            android:configChanges="screenSize"
            android:theme="@style/ZMTheme.SubWindow"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.BoEditActivity"
            android:configChanges="screenSize"
            android:theme="@style/ZMTheme.SubWindow"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inmeetingfunction.zoommeetingui.CustomZoomUIActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:theme="@style/ZMTheme.SubWindow"/>

        <receiver
            android:name=".utility.NotificationPublisher"
            android:process=":remote" />
    </application>

</manifest>